.progress-container{
    padding: 0;
   
    box-sizing: border-box;
}
.progress-container h2{
    justify-content: center;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    width: 100vw;
}
.progress{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0px;
}
.progress-bar{
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: -3px -3px 7px#ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
    overflow: hidden;
    margin: 10px 20px;
}
.progress-bar::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    border-radius: 50%;
    width: 80%;
    box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}
.progress-bar svg {
    width: 100%;
    height: 100%;
    position: relative;
}
.progress-bar svg circle {
    position: absolute;
    transform: scale(.939);
    transform-origin: center;
    fill: none;
    stroke:  #143960;
    stroke-width: 30px;
    stroke-dasharray: 629px;
}
.progress-bar:nth-child(1) svg circle{
    animation: bar_1 2s infinite ease forwards;
    animation-delay: 1s;
}
.progress-bar:nth-child(2) svg circle{
    animation: bar_2 2s infinite ease forwards;
    animation-delay: 1s;
}
.progress-bar:nth-child(3) svg circle{
    animation: bar_3 2s infinite ease forwards;
    animation-delay: 1s;
}
.progress-bar:nth-child(4) svg circle{
    animation: bar_3 2s infinite ease forwards;
    animation-delay: 1s;
}
.progress-bar:nth-child(5) svg circle{
    animation: bar_3 2s infinite ease forwards;
    animation-delay: 1s;
}
.progress-bar h1 {
    position: absolute;
    font-size: 20px;
    font-family: "Montserrat";
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}
