@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}                       
html{
    font-size: 10px;
    font-family:'Montserrat', sans-serif;
}
body {
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
p{
    text-align: left;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
 .section-title{
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
}
/*navbar*/
 .nav-bar  {
   
}
ul .list  {
    font-size: 20px;
    list-style-type: none;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
  }
 li  {
    float: right;
    padding: 5px 15px;
  }
  li a {
    display:block;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 15.41px;
    box-shadow: 0 0 25px;
    color:  rgb(243, 247, 58);
    background-color: black;
    border-radius: 20px; 
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
    box-shadow: 0px 0px 30px ;
    color:  rgb(243, 247, 58);
  }
  li a:active{
      background-color:black;  
  }
  li a:hover:not(.active){
      background-color:  ;
  } 
  .toggle-menu ul {display:table; width:30px; margin-top: -30px; margin-right: 20px; border-radius: 0px;}
.toggle-menu ul li{width:100%; height:3px; background-color:white; margin-bottom:4px;}
.toggle-menu ul  li:last-child{margin-bottom:0px;}
input[type=checkbox], label{display:none;}


  Active/Current 
  
/*endnavbar*/
 
/* Hero Section */
 .container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
 .cta{
    display: inline-block;
    padding: 5px 15px;
    color: rgb(205, 184, 92);
    background-color: transparent;
    border: 2px solid rgb(163, 199, 241);
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 30px;
    transition: .3s ease backgroung-color ;
    transition-property: backgroung-color, color;
    border-radius: 20px;
    box-shadow: 0 0 20px;
   
}
.cta:hover {
    color: rgb(243, 247, 58);
    background-color: gray;
    box-shadow: 0 0 40px;
   
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
#hero {
    background-image: url('./img/philippe-d-wPkrx-arVAo-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    height: 100%; 
   
}
#hero .hero {
    justify-content: right;
    text-align: right;
    padding-top: 60%;
    padding-bottom: 7%;
    padding-right: 4%;
    height: 100%; 
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #00000056;
    opacity: .7; 
    z-index: -1;
}
#hero h1{
    display: block;
    width: 100%;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal  .5s ease forwards;
    animation-delay: 1s;
    
}
#hero h1:nth-child(1){
    animation-delay: 1s;  
}
#hero h1:nth-child(2){
    animation-delay: 2s;  
}
#hero h1:nth-child(3){
    animation: text_reveal_surname .5s ease forwards m;
    animation-delay: 3s;  
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: crimson;
    animation: text_reveal_box 1s ease ;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{
   animation-delay: .5s; 
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s; 
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s; 
}
/* End Hero Section */
 /*textslider*/
 .textslider {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .content {
    width: 100vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  .slider-wrapper {
    font-size: 40px;
    color:#aaa;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider-wrapper p{
      font-size: 20px;
      color:#fff;
      height: 50px;
     
      text-align: center;
      box-sizing: border-box;
  }
  .slider{
    height: 50px;
   
    overflow: hidden;
  }
  .slider div {
    color:#fff;
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
  }
  .slider-text1 {
    background: transparent;
    animation: slide 10s linear infinite;
    font-size: 20px;
  }
  .slider-text2 {
    background: transparent;
    font-size: 20px;
  }
  .slider-text3 {
    background: transparent;
    font-size: 20px;
  }
  @keyframes slide {
    0% {margin-top:-300px;}
    5% {margin-top:-200px;}
    33% {margin-top:-200px;}
    38% {margin-top:-100px;}
    66% {margin-top:-100px;}
    71% {margin-top:0px;}
    100% {margin-top:0px;}
  }
  /*end textslider*/

/* service section */
#services .service{
    flex-direction: row;
    text-align: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}
#services .service-top{
    text-align: center;
    justify-content: center;
    width: 500px;
    max-width: 0 auto;
}
#services .section-title span{
    color: brown;
}

#services .service-top p{
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
#services.service-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
#services .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-size: cover;
    margin: 10px 5%;
    color: blanchedalmond;
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-top: 50px;
}
#services .service-item::after{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: blue;
    opacity: .3;
    z-index: -1;
}
#services .service-bottom .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
#services .service-item h2{
    font-size: 2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}
/* service section */
/* projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
    padding: 100px 0;
    background-color: white;
}
#projects .projects-header h1{
    margin-bottom: 50px;
}
#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}
#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    background-image: linear-gradient( 60deg, #29323c 0%, #485563 100%);

    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
#projects .project-info h1{
    font-size: 4rem;
    font-weight: 300;
    color: cornsilk;
}
#projects .project-info h2{
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
    color: cornsilk;
}
#projects .project-info p{
    color: cornsilk;
}
#projects .project-image {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#projects .project-image::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
}
#projects .project-item:hover .project-image img{
    transform: scale(1.1);
}
#projects .project-image img {
    transition: .3s ease transform;
}
/* end projects section */
/*project dropdown*/
#checkbtn{
    display: none;
}
#projects .project-1{
    display: none;
}
#checkbtn:checked ~ #project-1{
    display: block;
}
label{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px 10px;
}
#projects .dropdown-content{
    align-items: center;
}
label:hover{
    background-color: blanchedalmond;
}
/*end project dropdown*/
/* about me section*/
#about .about{
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    max-width: 1400px;
    padding-left: 0px;
    padding: 100px 20px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#about .col-right{
    width: 100%;
}
#about .col-right h2{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
#about .col-left p{
    margin-bottom: 20px;
   padding-top: 5%;
    position: relative;
}
#about .col-left .about-imag img{
    border-radius: 5000px;
    height: 350px;
    width: 350px;
}

@keyframes bar_1 {
    0%{
        stroke-dashoffset: 630px;
    }
    100% {
        stroke-dashoffset: calc(629px - (630px * 90)/100);
    }
}
@keyframes bar_2 {
    0%{
        stroke-dashoffset: 630px;
    }
    100% {
        stroke-dashoffset: calc(630px - (630px * 85)/100);
    }
}
@keyframes bar_3 {
    0%{
        stroke-dashoffset: 630px;
    }
    100% {
        stroke-dashoffset: calc(630px - (630px * 60)/100);
    }
}

/* end about me section*/


/* Style The Dropdown Button */
 .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
  
/* The container <div> - needed to position the dropdown content */
 .dropdown {
    position: relative;
    text-align: center;
    justify-content: center;
    
  }
  
/* Dropdown Content (Hidden by Default) */
 .dropdown-content {
     display: none;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
    justify-content: center;
    margin-left: 32%;
    margin-right: 40%;
    
}
  
/* Links inside the dropdown */
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    text-align: center;
    
}
  
/* Change color of dropdown links on hover */
 .dropdown-content a:hover {
    background-color: #f1f1f1;
    box-shadow: 0 0 20px;

}
  
/* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {
    display: block;
}
  
/* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn{
    background-color: #3e8e41;
 }
/*end  Style The Dropdown Button */

/* contact section */
#contact .contact{
   
    max-width: 1400px;
    margin: 0 auto;
    background-color: white;
}
#contact .contact-items{
    width: 10%;
    display: flex;
    margin: 0;
    padding: 20px;
}
#contact .contact-item {
   
    transition: .3s; 
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px ;
}
#contact .icon{
    width: 70px;
    margin-bottom: 10px;
    border-radius: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
#contact .contact-info h2{
    font-weight: 500;
    line-height: 2rem;
}
#contact .form{
    padding-left: 5%;
}
#contact .form h1{
    font-size: 23px;
}
#contact .form p{
    font-size: 20px;
}
#contact .form .submit{
    font-size: 20px;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0 0 10px;
}
#contact .form .submit:hover{
    box-shadow: 0px 0px 20px ;
    color: blue;
}
/* end contact section */
/*footer*/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    width: 100%;
}
#footer .footer{
    min-height: 200px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
#footer .social-items{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    z-index: 1;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;  
}
#footer .social-item img{
    filter: transparent;
    border-radius: 8px;
    text-align: center;
}
#footer .social-item:hover{
    box-shadow: 0px 0px 20px ;
    transition: .3s;
    border-radius: 8px;
}
#footer p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}
/*end footer*/
/* keyframes */
@keyframes text_reveal_box{
    50% {
        width: 0%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
} 
@keyframes text_reveal{
    100%{
        color: rgb(255, 254, 254);
    }
} 
@keyframes text_reveal_surname{
    100%{
        color: tomato;
        font-weight: 500px;
    }
}
/*end key frames*/ 
/* media qwery for tablet*/
@media only screen and (max-width: 320px){
    *{  max-width: 100%;}
    .slider {
        padding-left: 10px;
        font-size: 2px;
    }
    #hero .hero h1{
        font-size: 25px;
       font-family: Georgia, 'Times New Roman', Times, serif;
    }
    header h1{
        padding-bottom: 20%;
    }
}
@media only screen and (max-width: 360px){
    *{  max-width: 100%;}
}
@media only screen and (max-width: 480px){
    *{  max-width: 100%; max-height: 100%;}
}
@media only screen and (max-width: 568px){
    *{  max-width: 100%; max-height: 100%;}
}
@media only screen and (max-width:768px){
    *{  max-width: 100%; max-height: 100%;}
}
@media only screen and (min-width:768px) {
    ul {
        font-size: 40px;
    }
    #hero{
       
    }
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /*hero*/

    #hero h1{
        font-size: 7rem;
    }
    /* end hero*/
    /*service section*/
    #services .service-bottom .service-item{
        flex-basis: 45%;
        margin: 1.5%;

    }
    #services .service-bottom {
        flex-direction: row;
        padding-left: 25%;
        padding-right: 25%;
    }
    /* endservice section*/
    /*project*/
    #projects .projects{
        flex-direction: column;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
        flex-direction: row;
    }
    #projects .all-projects .project-info{
        height: 100%;   
    }
    #projects .all-projects .project-img{
        height: 100%;
    }
    #projects .project-item:nth-child(even){
        flex-direction: row-reverse;
    }
    /*project*/
    /*about*/
    #about .about{
        flex-direction: row;
    }
    #about .col-left .about-imag img{
        width: 600px;
        height: 600px;
        margin-left: 20px;
    }

    
    
    /*end about*/
    /*contact*/
    #contact .contact{
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;   
    }
    #contact .contact-items{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 20px;
    }
    #contact .contact-item{
        margin: 20px;
    }
    #contact .contact-item .icon{
        height: 80px;
        width: 80px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .info{
        width: 100%;
        text-align: center;
        padding-left: 20px;
    }
    #contact .form .submit{
        padding: 5px 100px; 
        width: 20px;
    }

    /* end contact*/
}
/*end media qwery for tablet*/
/*media query for dextop*/
@media only screen and (max-width: 980px) {
    input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
    input[type=checkbox]:fous{background:none;}
    label {float: right; padding:8px 0px; display:inline-block; cursor:pointer;  }
    input[type=checkbox]:checked ~ ul {display:block; top: 45px; border-radius: 0px; } 
 ul {display:none; position: fixed; right:0px; top:53px; padding:0px; z-index: 1; flex-direction: column-reverse;}
ul {width:150px; }
 ul  li{float:none; padding:0px; width:100%; display:table;}
 ul  li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1); border-radius: 0px; }

}
    
@media only screen and (min-width:1200px){
   
    .cta{
        padding: 5px 30px;
    }

    #services .service-bottom .service-item{
        flex-basis:22% ;
        margin: 1.5%;
    }
    #services .service-bottom {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
    }
    #services .service-top {
        text-align: center;
        justify-content: center;
        padding-left: 35%;
        padding-right: 20%;
    }
    li a{
        font-size: 25px;
    }
    #contact .form .submit{
        padding: 5px 8%;
        padding-left: 45px;
    }
    #contact .form .Submit{
        padding-left: 40px;
    } 
    #hero .hero  {
        margin-top: 0;
    }
    .content-form{
        left: 0%;
        top: -20%;
    }
}
/*end media query for dextop*/